@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Manager
            </th>
            <th>
                Wfm_Manager
            </th>
            <th>
                Email
            </th>
            <th>
                Lockstatus
            </th>
            <th>
                Experience
            </th>
            <th>
                Skills
            </th>
        </tr>
    </thead>
    <tbody id="tdata">
    </tbody>
</table>
</div>
<script src="~/js/employeecall.js"></script>